:root {
	--theme-main: #357;
	--theme-dark: #253d55;
	--theme-light: #57a;
	--theme-accent: #0fa;
	--theme-bright: #96b5d8;
}
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background-color: #ddd;
	color: #444;
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;
	line-height: 25px;
}
div {
	width: 100%;
}
.fullscreen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.button {
	box-sizing: border-box;
	background-color: var(--theme-light);
	cursor: pointer;
	transition: background-color 100ms ease;
	text-align: center;
}
.button:hover {
	background-color: var(--theme-bright);
}
.box {
	box-sizing: border-box;
	padding: 10px;
	background-color: #eee;
	box-shadow: 0 0 10px #0003;
	border-radius: 10px;
	overflow: hidden;
}

#navtop {
	background-color: var(--theme-main);
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	padding: 10px;
	height: 70px;
}
#navbottom {
	background-color: var(--theme-dark);
	box-sizing: border-box;
	display: flex;
	padding: 18px;
	flex-shrink: 0;
	height: 50px;
}
#container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

/* ------------------------------------------------------ */

#navtop > div + div {
	margin-left: 10px;
}

#logo-container {
	width: 50px;
	height: 50px;
	flex-shrink: 0;
}
#logo-top {
	height: 37px;
	margin-bottom: 3px;
	background-color: white;
	border-radius: 3px;
	transition: height 250ms cubic-bezier(0.5, 1, 0, 1.5);
}
#logo-bottom {
	height: 10px;
	background-color: var(--theme-accent);
	border-radius: 3px;
	transition: height 250ms cubic-bezier(0.5, 1, 0, 1.5);
}
#logo-container:hover { cursor: pointer; }
#logo-container:hover #logo-top { height: 10px; }
#logo-container:hover #logo-bottom { height: 37px; }

#search-bar-container {
	display: flex;
	margin: 5px 0;
	justify-content: center;
}
#search-bar {
	display: flex;
	max-width: 750px;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}
#search-filter {
	display: flex;
	flex-shrink: 0;
	padding-right: 8px;
	width: 100px;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
}
#search-input {
	height: 100%;
	background-color: var(--theme-dark);
}
#search-button {
	display: flex;
	flex-shrink: 0;
	width: 40px;
	height: 100%;
	justify-content: center;
}

#shopping-cart, #profile {
	display: flex;
	flex-shrink: 0;
	width: 50px;
	height: 100%;
	border-radius: 10px;
	justify-content: center;
}

/* ------------------------------------------------------ */

div.fake-text {
	height: 100%;
	border-radius: 100px;
	background-color: var(--theme-light);
	margin: auto 0;
}
div.fake-text + div.fake-text {
	margin-left: 10px;
}

/* I don't know a better way to do this but if it works, then it works. */
@media (max-width: 586px) { #fake-text4 { display: none; } }
@media (max-width: 726px) { #fake-text5 { display: none; } }
@media (max-width: 866px) { #fake-text6 { display: none; } }
@media (max-width: 1006px) { #fake-text7 { display: none; } }
@media (max-width: 1146px) { #fake-text8 { display: none; } }
@media (max-width: 1286px) { #fake-text9 { display: none; } }
@media (max-width: 1426px) { #fake-text10 { display: none; } }

/* ------------------------------------------------------ */

.screen {
	box-sizing: border-box;
	max-width: 900px;
	padding: 10px;
	transition: filter 100ms ease-in-out;
}
.result-item {
	display: flex;
	margin-top: 10px;
	padding: 0;
	height: 130px;
	border-radius: 15px;
	cursor: pointer;
	transition-property: background-color, box-shadow, color;
	transition-duration: 150ms;
	transition-timing-function: ease;
}
.result-item:hover {
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 10px #0005;
}
.result-item-icon-container {
	flex-shrink: 0;
	width: 130px;
	height: 130px;
}
.result-item-text-container {
	box-sizing: border-box;
	padding: 10px;
	max-width: calc(100% - 130px);
	flex-grow: 1;
}
.result-item-name {
	margin: -5px 0;
	font-size: 25px;
	line-height: 35px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.result-item-rating {
	font-size: 30px;
	line-height: 30px;
	vertical-align: -2.5px;
	display: inline;
}
.result-item-rating span {
	color: gold;
	text-shadow: 0px 2px 3px #f80;
}
.result-item-rating span + span {
	color: inherit;
	text-shadow: 0px 2px 3px #0006;
}
.result-item-rating img {
	position: relative;
	transform: rotate(90deg);
	filter: brightness(0.3);
	top: -4px;
	transition: filter 150ms ease;
}
.result-item:hover .result-item-rating img { filter: brightness(0); }
.result-item-price {
	font-size: 30px;
	line-height: 30px;
	margin: 2px 0 3px 0;
}
.result-item-description {
	margin: -5px 0;
	font-size: 20px;
	line-height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	opacity: 75%;
}

/* ------------------------------------------------------ */

.back-button {
	position: relative;
	left: -5px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: color 100ms ease-in;
}
.back-button:hover {
	color: #000;
}
