body {
	margin: 0;
	width: 100%;
	height: 100vh;
}
div {
	width: 100%;
}
.fullscreen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#navtop {
	flex-shrink: 0;
	height: 70px;
}
#navbottom {
	flex-shrink: 0;
	height: 50px;
}
#container {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}
